$fontMap: (
  P: (
    Meiryo,
    Meiryo UI,
    メイリオ,
    meriyo,
    Noto Sans,
    Noto Sans JP,
    Noto Sans Japanese,
    NotoSansCJKjp,
    ＭＳ Ｐゴシック,
    MS PGothic,
    YuGothic,
    Yu Gothic,
    游ゴシック,
    MyYuGothicM,
    Work Sans,
    Roboto,
    Segoe UI,
    BIZ UDPGothic,
    BIZ UDPゴシック,
    UD新ゴ R,
    Hiragino Kaku Gothic Pro,
    Open Sans,
    Helvetica,
    arial,
    新ゴ L,
    新ゴ R,
    游ゴシック Medium,
    Yu Gothic Medium,
    Duru Sans,
    Kosugi Mar,
    M PLUS 1p,
    M PLUS Rounded 1c,
    Rounded Mplus 1c,
    Microsoft Yahei,
    gihyojp,
    IBM Plex Sans JP,
    Koruri,
    YakuHanJP,
    kosugi maru,
    Hiragino Kaku Gothic,
    ヒラギノ角ゴ W3 JIS2004,
    ヒラギノ角ゴ W8 JIS2004,
    AxisProN-Regular,
    Avenir Next,
    Sawarabi Gothic,
    Google Sans Text,
    A1ゴシック L,
    A1ゴシック R,
    Jun 101,
    Jun 201,
  ),
  Monospace: (
    ＭＳ ゴシック,
    MS Gothic,
    Courier,
    Courier New,
    Roboto Mono,
    Consolas,
  ),
);

$fontWeights: (
  100: Light,
  200: Light,
  300: Normal,
  400: Regular,
  500: Medium,
  600: Medium,
  700: Bold,
  800: Heavy,
  900: Heavy,
);

@each $name, $fonts in $fontMap {
  @each $font in $fonts {
    @each $weightValue, $weightName in $fontWeights {
      @font-face {
        font-family: "#{$font}";
        font-weight: #{$weightValue};
        src: local("Gen Shin Gothic #{$name} Unhinted #{$weightName}");
      }
    }
  }
}
