$fontMap: (
  P: (
    Meiryo,
    Meiryo UI,
    メイリオ,
    Noto Sans,
    Noto Sans JP,
    Noto Sans Japanese,
    ＭＳ Ｐゴシック,
    MS PGothic,
    YuGothic,
    Yu Gothic,
    游ゴシック,
    Work Sans,
    Roboto,
    Segoe UI,
    BIZ UDPGothic,
    BIZ UDPゴシック,
    Hiragino Kaku Gothic Pro,
    Open Sans,
    Helvetica,
    arial,
    新ゴ L,
    新ゴ R,
    游ゴシック Medium,
    Yu Gothic Medium,
  ),
  Monospace: (
    ＭＳ ゴシック,
    Roboto Mono,
    MS Gothic,
    Courier New,
  ),
);

$fontWeights: (
  100: Light,
  200: Light,
  300: Normal,
  400: Regular,
  500: Medium,
  600: Medium,
  700: Bold,
  800: Heavy,
  900: Heavy,
);

@each $name, $fonts in $fontMap {
  @each $font in $fonts {
    @each $weightValue, $weightName in $fontWeights {
      @font-face {
        font-family: "#{$font}";
        font-weight: #{$weightValue};
        src: local("Gen Shin Gothic #{$name} Unhinted #{$weightName}");
      }
    }
  }
}
