/* cSpell:disable */
$fontMap: (
  P: (
    Meiryo,
    Meiryo UI,
    メイリオ,
    meriyo,
    Noto Sans,
    Noto Sans JP,
    Noto Sans Japanese,
    Noto Sans CJK JP,
    Noto Sans CJK JP Regular,
    NotoSansCJKjp,
    NotoSansJP-Regular,
    noto-sans-cjk-jp,
    ＭＳ Ｐゴシック,
    MS PGothic,
    MS UI Gothic,
    YuGothic,
    Yu Gothic,
    Yu Gothic Medium,
    游ゴシック,
    MyYuGothicM,
    Hiragino Kaku Gothic,
    Hiragino Kaku Gothic Pro,
    Hiragino Kaku Gothic ProN,
    Hiragino Kaku Gothic W3 JIS2004,
    Hiragino UD Sans W3 JIS2004,
    ヒラギノ角ゴ W3 JIS2004,
    ヒラギノ角ゴ W8 JIS2004,
    UD新ゴ コンデンス90 L,
    BIZ UDPGothic,
    BIZ UDPゴシック,
    新ゴ L,
    新ゴ R,
    游ゴシック Medium,
    游ゴシック,
    游ゴシック体,
    UD新ゴ R,
    M PLUS 1p,
    M PLUS Rounded 1c,
    Koruri,
    Koruri Regular,
    A1ゴシック L,
    A1ゴシック R,
    Jun 101,
    Jun 201,
    Work Sans,
    Roboto,
    Segoe UI,
    Open Sans,
    Helvetica,
    arial,
    Duru Sans,
    Kosugi Mar,
    Rounded Mplus 1c,
    Microsoft Yahei,
    gihyojp,
    IBM Plex Sans JP,
    YakuHanJP,
    kosugi maru,
    AxisProN-Regular,
    Avenir Next,
    Sawarabi Gothic,
    Google Sans Text,
    こぶりなゴシック W3 JIS2004,
    migmix-1p-regular,
    Chirp,
    Montserrat,
    Gothic MB101 Light,
    Gothic MB101 Medium,
    TsukuGoPr5-M,
    tsukushigothic,
    herozLight,
    genjyuu,
    flop,
    Kiwi Maru,
    Shin Maru Go Regular,
    UDDigiKyokasho R,
    sans-serif,
  ),
  Monospace: (
    ＭＳ ゴシック,
    MS Gothic,
    Hack,
    Courier,
    Courier New,
    Roboto Mono,
    Consolas,
    Ubuntu Mono,
    monospace,
  ),
);

$fontWeights: (
  100: Light,
  200: Light,
  300: Normal,
  400: Regular,
  500: Medium,
  600: Medium,
  700: Bold,
  800: Heavy,
  900: Heavy,
);

@each $name, $fonts in $fontMap {
  @each $font in $fonts {
    @each $weightValue, $weightName in $fontWeights {
      @font-face {
        font-family: '#{$font}';
        font-weight: #{$weightValue};
        src: local('Gen Shin Gothic #{$name} Unhinted #{$weightName}');
      }
    }
  }
}
